@page "/"

@inject DialogService _ds
@inject GameServerService _gss

<h2>Installed Servers</h2>

<div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-3">
    @foreach (var srv in _gss.List.Servers)
    {
        <div class="col">
            <div class="card bg-list-item">
                <div class="card-body" style="height: 145px">
                    <div class="row">

                        <div style="width: 5px; height: 144px; border-radius: 5px; margin: -16px 0px 0px -5px; padding: 0px; background-color: red"></div>

                        <div class="col-md-12">
                            <div class="row g-0">
                                <div class="col-md-11 col-11">
                                    <h3>@(srv.ServerName.Length > 20 ? srv.ServerName.Substring(0, 20).Trim() + "..." : srv.ServerName)</h3>
                                </div>
                                <div class="col-md-1 col-1">
                                    <Tooltip Text="@srv.ServerType.ToString().Replace("_", " ")">
                                        <img src="assets/groundBranch.png" style="width: 30px;"/>
                                    </Tooltip>
                                </div>
                            </div>
                            <div class="row">
                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start">
                                    <Tooltip Text="Current player count">
                                        <i class="bi bi-person-fill me-2" style="color: var(--color-offWhite);">
                                        </i><span>@srv._PlayerStats</span>
                                    </Tooltip>
                                    <Tooltip Text="Server Port">
                                        <svg style="color: var(--color-offWhite);" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ethernet me-1" viewBox="0 0 16 16">
                                            <path d="M14 13.5v-7a.5.5 0 0 0-.5-.5H12V4.5a.5.5 0 0 0-.5-.5h-1v-.5A.5.5 0 0 0 10 3H6a.5.5 0 0 0-.5.5V4h-1a.5.5 0 0 0-.5.5V6H2.5a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 .5-.5ZM3.75 11h.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-1.5a.25.25 0 0 1 .25-.25Zm2 0h.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-1.5a.25.25 0 0 1 .25-.25Zm1.75.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-1.5ZM9.75 11h.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-1.5a.25.25 0 0 1 .25-.25Zm1.75.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-1.5Z" />
                                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2ZM1 2a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2Z" />
                                        </svg>
                                        <span>@srv.Port</span>
                                    </Tooltip>
                                    <Tooltip Text="Query Port">
                                        <svg style="color: var(--color-offWhite);" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ethernet me-1" viewBox="0 0 16 16">
                                            <path d="M14 13.5v-7a.5.5 0 0 0-.5-.5H12V4.5a.5.5 0 0 0-.5-.5h-1v-.5A.5.5 0 0 0 10 3H6a.5.5 0 0 0-.5.5V4h-1a.5.5 0 0 0-.5.5V6H2.5a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 .5-.5ZM3.75 11h.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-1.5a.25.25 0 0 1 .25-.25Zm2 0h.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-1.5a.25.25 0 0 1 .25-.25Zm1.75.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-1.5ZM9.75 11h.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-1.5a.25.25 0 0 1 .25-.25Zm1.75.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-1.5Z" />
                                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2ZM1 2a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2Z" />
                                        </svg>
                                        <span>@srv.QueryPort</span>
                                    </Tooltip>
                                    @if (srv.ServerType == ServerTypeEnum.Ground_Branch)
                                    {
                                        <Tooltip Text="Automatic restart timer">
                                            <i class="bi bi-clock-history me-1" style="color: var(--color-offWhite);"></i>
                                            <span>@((srv as GBServer).RestartTime) hr</span>
                                        </Tooltip>                                        
                                    }
                                </RadzenStack>
                            </div>
                        <div class="row">
                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" class="mt-3">
                                <RadzenButton Icon="play_arrow" ButtonStyle="ButtonStyle.Success" />
                                <RadzenButton Icon="refresh" ButtonStyle="ButtonStyle.Info" />
                                <RadzenButton Icon="stop" ButtonStyle="ButtonStyle.Info" />
                                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Info" />
                                <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" />
                            </RadzenStack>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col">
        <div class="card bg-list-item p-0" style="height: 145px">
            <button class="btn stretched-link p-0" @onclick="OpenAddDialog">
                <div class="card-body p-0" >
                    <div class="d-flex flex-column align-items-center p-0 mt-5" >
                        <span class="oi oi-plus mb-1 add-server-icon" aria-hidden="true"></span>
                        <p class="card-text">Add Server</p>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>



@code{
    
    protected override void OnInitialized()
    {
        //servers.Servers = _gss.List.Servers;
        //new List<GameServer>()
        //{ new GBServer {ServerName = "Test Server 1", Port = 7776, QueryPort = 27014, RestartTime = 12, _PlayerStats = "0/8", ServerType = ServerTypeEnum.Ground_Branch},
        //new GBServer {ServerName = "Discord Member Test Server with extra text just to be sure", Port = 7773, QueryPort = 27018, RestartTime = 12, _PlayerStats = "0/16",
        //ServerType = ServerTypeEnum.Ground_Branch}};

    }

    async Task OpenAddDialog()
    {
        await _ds.OpenSideAsync<AddServerSideDialog>("Add Server",
            options: new SideDialogOptions {  CloseDialogOnOverlayClick = false, Position = DialogPosition.Right, ShowMask = true });
        StateHasChanged();
    }
}