@using GameServerManager.Services.Helpers
@using GameServerManager.Models.Options
@using Blazored.FluentValidation

@inject ApplicationSettingsService _asr
@inject GameServerService _gss

<div class="rz-p-4 rz-text-align-center">
    <RadzenSelectBar @bind-Value="isExistingServer" Change="ServerLocChanged" TValue="bool" class="mb-5">
        <Items>
            <RadzenSelectBarItem Text="New" Value="false" />
            <RadzenSelectBarItem Text="Existing" Value="true" />
        </Items>
    </RadzenSelectBar>
</div>
<div class="row">
    <span>Server Type</span>
    <RadzenDropDown @bind-Value=@selectedType Change="ServerTypeChanged" Data=@games>
        <Template>
            @((context as Tuple<string, int>).Item1)
        </Template>
        <ValueTemplate>
            @((context as Tuple<string, int>).Item1)
        </ValueTemplate>
    </RadzenDropDown>
</div>

@if (selectedType != null && isExistingServer == false)
{
    <RadzenStack class="mt-2">
        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenLabel Text="Private Server"/>
            <RadzenSwitch class="mt-1" @bind-Value="@addServer._IsPrivateServer"/>
        </RadzenStack>
        
        <EditForm Model="@addServer" OnValidSubmit="OnHandleValidSubmit">
            <FluentValidationValidator DisableAssemblyScanning="@true"/>

            <div class="row mb-1">                
                <span>Server Name</span>
                <InputText class="ms-2 me-2" @bind-Value="addServer.ServerName" />
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <p class="mt-1 mb-2">Max Players</p>
                    <p class="me-5 mt-1 mb-2">Port</p>
                    <p class="mt-2 mb-2">Query Port</p>
                </div>

                <div class="col-sm-6">
                    <InputNumber class="mb-1" style="width: 100px" @bind-Value="addServer.MaxPlayers" />
                    <InputNumber class="mb-1" style="width: 100px" @bind-Value="addServer.Port" />
                    <InputNumber class="mb-1" style="width: 100px" @bind-Value="addServer.QueryPort" />
                </div>

            </div>

            @if (selectedType.Item2 == (int)ServerTypeEnum.Ground_Branch)
            {
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mt-1 mb-2">Max Spectators</p>
                        <p class="mt-1 mb-2">Restart Time</p>
                        <p class="mt-1">Multi-Home</p>
                    </div>
                    <div class="col-sm-6">
                        <InputNumber class="mb-1" style="width: 100px" @bind-Value="(addServer as GBServer).MaxSpectators" />
                        <InputNumber class="mb-1" style="width: 100px" @bind-Value="(addServer as GBServer).RestartTime" />
                        <InputText class="mb-1" style="width: 150px" @bind-Value="(addServer as GBServer).MultiHome" />
                    </div>
                </div>
            }
            @if (addServer._IsPrivateServer)
            {
                <div class="row">
                <p class="mb-1">Server Password</p>
                <InputText class="ms-2 me-2" @bind-Value="addServer.ServerPassword" />

                @if (selectedType.Item2 == (int)ServerTypeEnum.Ground_Branch)
                {
                    <p class="mb-1">Spectator Only Password</p>
                    <InputText class="ms-2 me-2" @bind-Value="(addServer as GBServer).SpectatorOnlyPassword" />
                }

                </div>
            }

            <div class="mt-2 d-flex justify-content-end">
                <button type="submit" class="btn btn-sm btn-rounded btn-primary me-1">Add</button>
                <button type="button" class="btn btn-sm btn-rounded btn-secondary" @onclick="(_ => _ds.CloseSide())">Cancel</button>
            </div>
            <ValidationSummary /> 
        </EditForm>
    </RadzenStack>

    @if(addDisabled)
    {
        <span class="badge bg-warning" style="color: black;">Default path not set, please go to <RadzenLink Path="settings" Text="settings"/> and set.</span>
    }
}

@if (isExistingServer == true)
{
    <div class="row">
        <span>Server path</span>
        <input type="text" @bind-value="serverPath" />
    </div>
    @if (showExeBanner)
    {
        <span class="badge bg-info text-wrap mt-2" style="color: black">@exeBannerText</span>        
    }
    
    <div class="mt-2 d-flex justify-content-end">
        <button type="button" class="btn btn-sm btn-rounded btn-primary me-1" disabled="@addDisabled" @onclick="AddExistingServer">Add</button>
        <button type="button" class="btn btn-sm btn-rounded btn-secondary" @onclick="(_ => _ds.CloseSide())">Cancel</button>
    </div>
}



@if (showError)
{
    <span class="badge bg-danger text-wrap">@errorText</span>    
}

@code {
    [Inject] DialogService _ds { get; set; }
    GameServer addServer = new GBServer();
    List<Tuple<string, int>> games;
    private Tuple<string, int> selectedType;
    private string serverPath = "";
    private bool isExistingServer = false;
    private bool pathIsValid = true;
    private bool addDisabled = false;
    private bool rootPathSet = true;
    private bool showExeBanner = false;
    private bool showError = false;
    private string exeBannerText = "";
    private string errorText = "";


    protected override void OnInitialized()
    {
        games = new List<Tuple<string, int>>();
        foreach (var item in Enum.GetValues(typeof(ServerTypeEnum)))
        {
            games.Add(new Tuple<string, int>(Enum.GetName(typeof(ServerTypeEnum), item).Replace('_', ' '), (int)item));
        }

        rootPathSet = _asr.CheckServerPathSet();
        addDisabled = rootPathSet ? false : true;
    }

    private void ServerLocChanged()
    {
        addDisabled = rootPathSet == true ? false : isExistingServer == true && addDisabled == true ? false : true;
        selectedType = null;
        StateHasChanged();
    }

    private void ServerTypeChanged()
    {
        switch (selectedType.Item2)
        {
            case 0:
                addServer = new GBServer();
                var ports = _gss.GetServerPorts();
                addServer.Port = ports.Item1;
                addServer.QueryPort = ports.Item2;
                addServer.ServerType = ServerTypeEnum.Ground_Branch;
                if (isExistingServer == true)
                {
                    showExeBanner = true;
                    exeBannerText = "Please enter the path to the GroundBranchServer.exe or GroundBranchServer-Win64-Shipping.exe";
                }
                break;
            case 1:
                addServer = new OHDServer();
                break;
        }
    }

    private void AddExistingServer()
    {
        if (isExistingServer && !string.IsNullOrWhiteSpace(serverPath))
        {
            try
            {
                _gss.AddExistingGameServer(serverPath, (ServerTypeEnum)selectedType.Item2);
                StateHasChanged();
                _ds.CloseSide();
            }
            catch (Exception e)
            {
                showError = true;
                errorText = e.Message;
            }
        }
    }

    private async void AddNewServer()
    {        
        var serverBaseDir = _asr.GetApplicationSettings().Settings.Where(s => s.Key == GlobalConstants.ServerBasePath && !string.IsNullOrWhiteSpace(s.Value)).First().Value;

        _ds.CloseSide();
        addServer = _gss.SendSteamCMDAction(addServer, serverBaseDir, (ServerTypeEnum)selectedType.Item2);

        //TODO: Disabled downloading for speedy testing
        // await _ds.OpenAsync<ProcessConsoleDialog>("Download Game Server",
        //     new Dictionary<string, object>()
        //         {
        //         { "ProcessActionName", "" },
        //         { "Proc", addServer.serverProc.proc },
        //         { "IsServerDownload", true }
        //         },
        //     new DialogOptions() { Height = "600px", Width = "700px", Resizable = false, Draggable = false, ShowClose = false });

        // _ds.Open("", ds => @<RadzenStack AlignItems="AlignItems.Center" Gap="2rem" Class="rz-p-12"> <RadzenText TextStyle="TextStyle.H6">Setting up Server, please wait...</RadzenText></RadzenStack>
        //     , new DialogOptions() { ShowTitle = false, Style = "min-height:auto;min-width:auto;width:auto", CloseDialogOnEsc = false }
        // );        
    
        await Task.Delay(1000);

        _gss.AddNewGameServer(addServer, (ServerTypeEnum)selectedType.Item2);        
        _ds.Close();
        _gss.UpdateGameServers();
    }


    private async void OnHandleValidSubmit()
    {
        if (!SteamCMDHelper.CheckSteamClientExists())
        {
            await SteamCMDHelper.DownloadSteamClient();
        }

        try
        {
            AddNewServer();            
        }
        catch (Exception)
        {
            errorText = "Failed to download server. (SteamCMD error)";
            showError = true;            
        }
    }
}